html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;
    color: $dark;

    @media only screen and (max-width: $bp_4096px) {
      font-size: 177.75%; 
    }

    @media only screen and (max-width: $bp_3326px) {
      font-size: 144.358%; 
    }

    @media only screen and (max-width: $bp_2900px) {
      font-size: 125.868%; 
    }

    @media only screen and (max-width: $bp_2600px) {
      font-size: 112.847%; 
    }

    @media only screen and (max-width: $bp_2300px) {
      font-size: 99.826%; 
    }

    @media only screen and (max-width: $bp_2048px) {
      font-size: 88.889%; 
    }

    @media only screen and (max-width: $bp_1920px) {
      font-size: 83.333%; 
    }

    @media only screen and (max-width: $bp_1800px) {
      font-size: 78.125%; 
    }

    @media only screen and (max-width: $bp_1600px) {
      font-size: 69.444%; 
    }

    @media only screen and (max-width: $bp_1536px) {
      font-size: 66.667%; 
    }

    @media only screen and (max-width: $bp_1440px) {
      font-size: 62.5%; // 1rem = 10px
    }

    @media only screen and (max-width: $bp_1366px) {
      font-size: 59.288%; 
    }

    @media only screen and (max-width: $bp_1300px) {
      font-size: 56.424%; 
    }

    @media only screen and (max-width: $bp_1280px) {
      font-size: 55.556%; 
    }

    @media only screen and (max-width: $bp_1200px) {
      font-size: 52.083%; 
    }

    @media only screen and (max-width: $bp_1200px) {
      font-size: 52.083%; 
    }

    @media only screen and (max-width: $bp_1100px) {
      font-size: 47.743%; 
    }

    @media only screen and (max-width: $bp_1024px) {
      font-size: 44.445%; 
    }
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Domine', serif;
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  ol,
  ul {
    list-style: none;
  }
  